.confirmar-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.reservas-container{
  width: 100%;
}
.reservas{
  width: 85%;
  margin: auto;
  border: 2px solid;
  border-radius: 2rem;
  padding: 1rem;
}
.card-reserva {
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  padding: 0.5rem;
  border-bottom: 1px solid #00000044;
  /* margin-bottom: 20px; */
}

.card-reserva h3 {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 18px;
  color: #333;
}

.datos-reserva {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.dato-reserva {
  /* width: 48%; Cada columna ocupa el 48% del ancho */
  text-align: left;
}
.dato-reserva span {
  display: block;
}
.dato-reserva span.descripcion {
  font-weight: bold;
  color: #555;
}
.dato-reserva span.valor {
  margin-top: 4px;
  color: #000;
}

.result{
  visibility: hidden;
}

#formContainer {
    width: 80%;
    display: grid;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease; /* Animación del cambio de altura */
    
}
  
#formContainer.expanded {
    max-height: 300px; /* Ajusta según el tamaño del formulario */
    border-bottom: 0;

}

.formDiv{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  border: 3px solid var(--color4);
  align-items: center;

  input{
    width: 80%;
  }
}



.tabla-container{
  width: 100%;
}
.form-container{
  width: 100%;
}

.input-container{
  display: flex;
  margin: auto;
  justify-content: center;
}

#rut{
  border: 0;
  width: 100%;
  max-width: 250px;
  border-radius: 1em 0 0em 0;
  justify-items: center;
  height: 40px;
  border: 0;
  padding: 1rem;
}

#rut:focus-visible{
  outline: 0;
  border-bottom: 3px solid var(--color5);
  
}

.form-input{
  border: 1px solid var(--color4);
  width: 100%;
  
  border-radius: 1em 0 0em 0;
  justify-items: center;
  height: 40px;
  padding: 1rem;

}

.form-input:focus-visible{
  outline: 0;
  border-bottom: 3px solid var(--color5);
  
}

#buscar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0em 0 1em 0;
  padding: 0rem 1rem;
  border: 0;
}

#buscar:hover{
  background-color: var(--color5);
  color: whitesmoke;
  transition: 0.5s;
}

.formHead{
  width: 80%;
  padding: 1rem;
  background-color: var(--color4);
}



@media (max-width: 800px) {
  .confirmar-container{
    flex-direction: column;
    align-items: center;
  }
}
