{% extends 'app/base.html' %}
{% load static from static %}
{% block titulo %}Bienvenido al Centro Recreativo Las Cascadas{% endblock titulo %}
{% block estilos %}
    <link href="{% static 'css/reservas.css' %}" rel="stylesheet" />
    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
{% endblock estilos %}
{% block body %}
<h1>Reserva</h1>
    <div class="contenedor-fechas">
        <input type="datetime" name="" id="fechas" />
        <button type="button" id="confirmar">buscar</button>
        {% for r in reservas %}
        <p>{{r}}</p>
        {% endfor %}
    </div>
    <div class="cards" id="cards">
        <div class="card-container">
            <div class="card-image col-3">
                <img class="card-img img-thumbnail" src="https://images.homify.com/image/upload/c_scale,h_375,w_500/v1438778991/p/photo/image/797995/Gartenhaus_Friedland.jpg" alt="Imagen de la cabaña">
            </div>
            <div class="card-description">
                <div class="card-data">
                    <a class="card-data-title" href="">Nombre de la cabaña</a>
                    <p class="card-data-description">dskfodflsd.plflspdfkposddfkopsdkfpo</p>
                </div>
                <div class="card-buttons">
                    <button type="button" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-primary">Reservar ahora</button>
                </div>
            </div>
        </div>
    </div>

    <div id="disponibles"></div>
    <div id="listado_reservas"></div>
{% endblock body %}

{% block scripts %}
<script type="module" src="{% static 'js/obtenerReservas.js' %}"></script>
<script type="module" src="{% static 'js/carrito.js' %}"></script>
{% endblock scripts %}